In [2]:
import urllib
import pandas as pd
from urllib.request import urlretrieve

In [3]:
url = ("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/chickwts.csv")
filename = "chickwts.csv"
urlretrieve(url, filename)
df = pd.read_csv('chickwts.csv')

In [4]:
df.head()

   rownames  weight       feed
0         1     179  horsebean
1         2     160  horsebean
2         3     136  horsebean
3         4     227  horsebean
4         5     217  horsebean

In [7]:
df.drop('rownames', axis = 1, inplace=True)

In [8]:
df.head()

   weight       feed
0     179  horsebean
1     160  horsebean
2     136  horsebean
3     227  horsebean
4     217  horsebean

In [9]:
len(df)

71

In [10]:
df.describe()

           weight
count   71.000000
mean   261.309859
std     78.073700
min    108.000000
25%    204.500000
50%    258.000000
75%    323.500000
max    423.000000

In [11]:
df.value_counts()

weight  feed
248     soybean      2
108     horsebean    1
303     meatmeal     1
320     sunflower    1
318     sunflower    1
                    ..
244     linseed      1
250     soybean      1
257     linseed      1
        meatmeal     1
423     sunflower    1
Length: 70, dtype: int64

In [13]:
df.groupby(by='feed').sum()

           weight
feed
casein       3883
horsebean    1602
linseed      2625
meatmeal     3046
soybean      3450
sunflower    3947

In [14]:
df.groupby(by='feed').mean()

               weight
feed
casein     323.583333
horsebean  160.200000
linseed    218.750000
meatmeal   276.909091
soybean    246.428571
sunflower  328.916667