In [2]:
import urllib
import pandas as pd
from urllib.request import urlretrieve

### which type of feed is the most beneficial for healthy chickens?

In [3]:
url = ("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/chickwts.csv")
filename = "chickwts.csv"
urlretrieve(url, filename)
df = pd.read_csv('chickwts.csv')

In [4]:
df.head()

   rownames  weight       feed
0         1     179  horsebean
1         2     160  horsebean
2         3     136  horsebean
3         4     227  horsebean
4         5     217  horsebean

In [7]:
df.drop('rownames', axis = 1, inplace=True)

In [8]:
df.head()

   weight       feed
0     179  horsebean
1     160  horsebean
2     136  horsebean
3     227  horsebean
4     217  horsebean

In [9]:
len(df)

71

In [10]:
df.describe()

           weight
count   71.000000
mean   261.309859
std     78.073700
min    108.000000
25%    204.500000
50%    258.000000
75%    323.500000
max    423.000000

In [15]:
df['feed'].value_counts()

soybean      14
linseed      12
sunflower    12
casein       12
meatmeal     11
horsebean    10
Name: feed, dtype: int64

In [19]:
df.groupby(by='feed').sum().round(1).reset_index().sort_values(by='weight', ascending=False)

        feed  weight
5  sunflower    3947
0     casein    3883
4    soybean    3450
3   meatmeal    3046
2    linseed    2625
1  horsebean    1602

In [18]:
df.groupby(by='feed').mean().round(1).reset_index().sort_values(by='weight', ascending=False)

        feed  weight
5  sunflower   328.9
0     casein   323.6
3   meatmeal   276.9
4    soybean   246.4
2    linseed   218.8
1  horsebean   160.2